


body{
    margin: 0px;
    /* padding: 0; */
    padding: 10px;
    font-family: tahoma;
    background: rgb(217, 247, 243);
    
}

.box{
    display: flex;
}
#like{
margin-left: 1px;
}
.spin{
width: 200px;
margin-left: -12px;


}
.pin{
    display: inline-block;
width: 1020px;
}
.apin{
width: 200px;
}
.img{
max-width: 60px;
max-height: 60px;
animation: tra 1s ;
}
ul{

display: flex;
justify-content: space-between;
list-style: none; 
max-width: 1250px;
height: 50px;
margin-left: -29px;


}
nav{
position:relative;
padding: 0;
margin: 0;
margin-top: -9px;
margin-bottom: -9px;


}
.a{
position: absolute;
margin-top:6px;
text-decoration: none;
font-size:20px;
font-family: tahoma;  
color: rgb(16,29,934);

}
li{
position: fixed;
}
.by{margin-left:70em;}

.rob{
display: flex;

}
p{
    color: rgb(44, 83, 141);
    font-size: 20px;
    margin-top: 240px;

}
.span{
    margin-top: -145px;

    position: absolute;
font-size: 60px;

}
.for{
    position: absolute;
    font-weight: bolder;
    margin-left: 12px;
}
.line{
    position: absolute;
    height: 160px;
    margin-top: 38px;
    margin-left: 280px;
    border: 1px solid rgb(44, 83, 141);
    /* animation: flowd 3s infinite; */
}
.lini{
    position: absolute;
    width: 170vh;
    margin-top: 70vh;
    margin-left: -16vh;
    border: 1px solid rgb(44, 83, 141);

    }.lini1{
        position: absolute;
        width: 170vh;
        margin-top: 10vh;
        margin-left: -16vh;
        border: 1px solid rgb(44, 83, 141);
        }
.scr{
    position: absolute;
    margin-top: 12px;
    margin-left: 250px;

}
.pt{   
    color: rgba(17, 252, 142, 0.438);
}
.pk{
    position: absolute;
    margin-left: -20px;
    font-size: 40pt;
    color: rgba(74, 8, 255, 0.438);
    margin-top: 230px;
    animation: flow 4s ease-in-out;

}
.leftl{
    position: absolute;
    width: 300px;
    border: 1px solid rgb(0, 255, 221);
    margin-top: 300px;
    margin-left: -20px;
    animation: flowl 4s ease-in-out;

}
.pra{
    position: absolute;        
    color: rgba(74, 8, 255, 0.438);
    margin-top: 300px;
    margin-left: -20px;
    width: 800px;
    font-size: 20Pt;

  
}
.prak{
    position: absolute;        
    color: rgba(74, 8, 255, 0.438);
    margin-top: 700px;
    margin-left: -20px;
    width: 800px;
    font-size: 20Pt;

  
}

.k{
    position: absolute;
    margin-left: -20px;
    font-size: 40pt;
    color: rgba(74, 8, 255, 0.438);
    margin-top: 600px;
    animation: flow 4s ease-in-out;

}
.drop{
    display: flex;
    justify-content: space-around;
    /* margin-left: -20px; */
}
.wave{

    font-size: 4vh;
    margin-top: -60px;
   display: inline-block;
}.wav{

    font-size: 4vh;
    margin-top: -10px;
}
.wavvv{
    font-size: 4vh;
    padding: 10px;
    height: 40px;
    width: 30px;
    border: 3px solid rgb(155, 39, 190);
    border-radius: 5px;
    text-decoration: none;
background:rgb(203, 219, 226);

   
    }.wavvv:hover{
       
    background:rgb(206,231,241);
    
       
        }
    .drp{
        display: flex;
        margin-left: 20px;    
        justify-content: space-around;
        margin-top: 40vh;
    }
    .get{
        position: absolute;
        margin-top: -40px;
        font-size: 40px;
        text-transform: bold;
    }   .get1{
        position: absolute;
        margin-top: -140px;
        font-size: 40px;
    }
    .reve{
        display: border-box;
        max-width: 300p;
    }
    .center{
        display: block;
        position: absolute;
        margin-top: 150vh;
    }
    a{
        animation: link 2s infinite;
    }
    .flow{
        margin-top: -135px;
        width: 400px;
        height: 400px;
           }
           @keyframes flow {
            from{margin-left: 120px; opacity: 0;}               
            to{margin-left: -16px;opacity: 1;}               
        }
        @keyframes flowl {
            from{width: 46px;}               
            /* to{width: 300px;}                */
        }@keyframes flowd {
            from{height: 0px;}               
            to{height: 90px;}               
        }
      .woe,#woe{
          margin-left: -50px;
          margin-top: 10px;
          height: 200px;
          width: 200px;

      }
      .li{
        position: fixed;
        /* height: 260px; */
        margin-top: 220px;
        margin-left: 8px;
        /* border: 1px solid rgb(44, 83, 141);    */
        /* line-height: 100px; */
        transform: rotatez(-90deg);
        color: #ccc;
      }
      #give{
          margin-left: 100px;
      }